# greybox .htaccess
# $Id: .htaccess,v 1.4 2005/04/18 15:16:43 che0 Exp $

# Mod Rewrite
RewriteEngine On

# HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,QSA]

# ______________________________
# To be solved
# ______________________________

# get rid of macig quotes
# php_flag magic_quotes_gpc Off

# secure .inc files
<Files "*.inc">
deny from all
</Files>
