.home-infocard
	padding: 1.5rem 3rem
	margin: 1rem

.debaters-sticky-card
	position: sticky
	top: 80px

.normal-margin-card
	.q-card__section + .q-card__section
		padding-top: 16px

.thin-header-card
	.card-header
			padding: 8px 16px

.q-card__section.q-pa-none > .q-list--bordered
	border-left: 0
	border-right: 0

.q-card.horizontal-list-card
	@media (min-width: $breakpoint-md-min)
		display: flex

		> .q-card__section
			padding-left: 32px
			padding-right: 32px

			+ .q-card__section
				flex-grow: 1

		.q-list--bordered
			border: none

		.q-list--separator > .q-item-type
			border-left: 1px solid rgba(0, 0, 0, 0.12)
			border-top: 0

		.q-list
			display: flex
			height: 100%

			.q-item
				flex: 1 1 0

.q-card__actions.float-actions
	display: block

	&::after
		content: ""
		display: block
		float: none
		clear: both

	.q-btn
		display: block

		&:first-child
			float: left

		&:last-child
			float: right
			display: inline-flex

.q-card.event-header
	padding: 2rem 3rem
	margin-bottom: 6rem

	@media (max-width: $breakpoint-sm-max)
		padding: 2rem 1rem
		margin-bottom: 3rem

.page-user\.currentRegistrations
	.q-card
		height: 100%
		overflow: hidden

		dt, dd
			display: inline-block

		dt
			font-weight: bold

		dd
			margin-left: .5rem

	.team-form
		> .q-field--error
			margin-bottom: .5rem

		.q-card
			.q-card__section

				&:not(.header)
					padding-top: 1rem
					position: relative
					z-index: 1

				&.header
					position: relative
					z-index: 9
					background-color: #e6e6e6

					.col .q-btn
						margin-right: .5rem

@media (max-width: $breakpoint-md-max)
	.home-infocard
		padding: 1rem
