.page-tournament
	.event-header
		&.smaller
			padding-top: 1rem
			padding-bottom: 1rem
			margin-bottom: 15px

			@media (min-width $breakpoint-sm-max)
				margin-bottom: 3rem

		i.fas, i.far
			margin-right: .25rem

	.picking-buttons
		.q-btn
			line-height: 1.2
			width: 80%
			padding: 2rem
			font-size: 1.8rem !important
			height: 100%

			@media (min-width $breakpoint-sm-max)
				font-size: 2vw !important
				padding: 2rem 0

			@media (min-width $breakpoint-lg-min)
				font-size: 1.8rem !important

			.q-icon
				font-size: 2.5em
				margin-bottom: .5rem

	.q-card
		height: 100%
		dt, dd
			display: inline-block

		dt
			font-weight: bold

		dd
			margin-left: .5rem

	.team-form
		>.q-field--error
			margin-bottom: .5rem

		.q-card
			.q-card__section
				&:not(.header)
					padding-top: 1rem

				&.header
					background-color: rgba(0,0,0,.1)

					.col .q-btn
						margin-right: .5rem

					.q-icon.material-icons
						font-size: 24px

	.checkout-heading
		margin-bottom: .5rem
		margin-top: 1.5rem

	.form-conditional-block
		margin-left: 20px

		@media (min-width $breakpoint-sm-max)
			margin-left: 40px

.smaller-margin-menu
	.q-item
		.q-item__section--avatar
			min-width: initial

		.q-item__section--main + .q-item__section--avatar
			margin-right: -10px

.billing-modal
	.q-scrollarea
		height: 60vh
		margin-left: -16px
		margin-bottom: -15px
		border: 1px solid rgba(0,0,0,0.12)

// Autofill
.autofill-wrapper
	@media (min-width $breakpoint-sm-max)
		padding-left: 3rem

.debaters-sticky-card
	.q-scrollarea
		height: calc(100vh - 130px)

	.q-item__label--header
		text-align: center

	.q-item
		.q-avatar
			transition: background-color .1s linear
			cursor: pointer

			&.deleting
				background-color: $negative !important

				.fas
					opacity: 1

			.fas
				position: absolute
				opacity: 0
				transition: opacity .1s linear
				background-color: $negative
				color: white

		// Already registered person
		&.registered
			&:hover
				background-color: #eaeaea

				.q-avatar
					opacity: 1

			.q-item__section--main, .q-avatar
				opacity: .6

			.q-avatar
				transition: opacity .1s linear


.hidable
	transition: height .5s linear
	height: 0
	overflow: hidden

	&.visible
		height: 100%