.page-tournament
	.picking-buttons
		.q-btn
			line-height: 1.2
			width: 80%
			padding: 2rem
			font-size: 1.8rem !important
			height: 100%

			.q-icon
				font-size: 2.5em
				margin-bottom: .5rem

	.q-card
		height: 100%
		dt, dd
			display: inline-block

		dt
			font-weight: bold

		dd
			margin-left: .5rem