@import './quasar.variables'
@import '~quasar-styl'
// @import '~quasar-addon-styl'

// Custom components styles
@import './components/menu'
@import './components/cards'
@import './components/messages'
@import './components/general'
@import './components/forms'

// Custom pages styles
@import './pages/home'
@import './pages/event'